
main {
  position: relative;
}

.messages {
  width: 100px;
}

#canvas-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #242424;
}

#canvas-container,
#ui {
  position: absolute;
}

#ui {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Poppins, sans-serif;
  cursor: auto;
  justify-content: start;
}

#top {
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  background: #00000033;
}

#center {
  display: flex;
  justify-content: start;
}

#left {
  padding: 16px;
  background: #00000033;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

canvas {
  width: 100%;
  height: 100%;
}